@* @model List<EmployeeData.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employee details";
}

<h3>@ViewData["Title"]</h3>
<hr />

<form >
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>EmployeeId</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FullName</td>
                        <td>@employee.Description</td>
                        <td>@employee.EmployeeId</td>
                    </tr>
                }   
            } else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            <p>No employees available</p>
                        </div>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</form>

<h1>hej</h1> *@